*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
a:link{
  color:#FF8000;
}
a:visited{
  color:#8904B1;
}
a:hover{
  text-decoration: underline;
}
a:active{
  color:grey;
}
div{
  padding:20px;
}
  header{
  text-align:center;
  font-size: 80px;
  border-bottom: 3px solid  #FF8000;
  padding:30px;
  }
  #grid{
    text-align: left;
    display: grid;
    grid-template-columns: 300px 1fr;
  }
  .list{
    padding-right: 600px;
    padding-left: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 22px;
    list-style:square;
    border-bottom: 2px #FF8000 solid;
    text-align: center;
  }
  #article{
    padding-left:25px;
    padding-top:25px;
  }
  @media(max-width:800px){
    #grid{
      display: block;
    }
    ol{
      border-right: none;
    }
  }
