*{
  margin:0;
}
a{
  text-decoration: none;
}
a:link{
  color:white;
}
a:visited{
  color:purple;
}
a:hover{
  text-decoration: underline;
}
a:active{
  color:blue;
}
#first{
  text-decoration:  underline;
   color:white;
}
  .container{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: 180px 150px 1fr;
    }
  .subject{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom:10;
    margin:0;
    background-image:url('bg.jpg');
    filter: grayscale(100%);

  }
  .list{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-right: 620px;
    padding-left: 620px;
    padding-top: 50;
    padding-bottom: 0;
    font-size: 22px;
    list-style:square;
    border-bottom: 2px grey solid;
    text-align: center;
  }
  .article{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .article2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  @media(max-width:800px){
    #grid{
      display: block;
    }
    ol{
      border-right: none;
    }
  }
